@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin: 0;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
.inner{
	width: 100%;
	margin: 0 auto;
}
/*전체*/
#wrap{
	width: 100%;
}

/*헤더*/
#header{
	border-bottom: 2px solid #ff7021;
	padding: 10px;
	position: relative;
}
#header h1{
	width: 90px;
	height: 24px;
	background: url(../../../images/logo.png) no-repeat;
	background-size: 90px 24px;
	text-indent: -9999px;
}
#header h1 a{
	height: 100%;
	display: block;
}
.panel{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 10px;
}
.panel a{
	display: block;
}
.panel a span{
	width: 25px;
	height: 3px;
	background: #222;
	border-radius: 4px;
	display: block;
	text-indent: -9999px;
	margin: 5px 0;
}
.panel a:before,.panel a:after{
	content: "";
	width: 25px;
	height: 3px;
	background: #222;
	border-radius: 4px;
	display: block;
}

#container{}
.mapText{
	margin-top: 10px;
}
.mapText p,h2{
	margin-left: 5%;
	margin-bottom: 10px;
}
.mapBox{
	margin: 20px;
	border: 1px solid #ff7021;
	padding: 15px;
}
/*푸터*/
#footer{
	margin-top: 10px;
	padding: 10px;
	background: #212122;
	color: #fafafa;
}
.footerMenu{
	text-align: center;
	font-size: 0;
}
.footerMenu ul li{
	display: inline-block;
	line-height: 30px;
	font-size: 12px;
}
.footerMenu ul li:after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	background: #fff;
	margin: 0 5px;
}
.footerMenu ul li:last-child:after{
	display: none;
}
.footerMenu ul li a{
	color: #fff;
}
.footerBottom{
	position: relative;
}
.footerBottom{}
.footerBottom img{}
.footerBottom p{
	font-size: 9px;
}
.select{
	position: absolute;
	right: 0;
	bottom: 0;
}
.select select{
	width: 80px;
	padding: 5px 0;
	font-size: 10px;
}