@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin: 0;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
	width: 100%;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
.inner{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
.slick-slide img{
	width: 100%;
}
.prevBtn,.nextBtn{
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	z-index: 1;
}
.prevBtn{
	left: 30px;
}
.nextBtn{
	right: 30px;
}
.slick-dots{
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.slick-dots li{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #fff;
	border-radius: 50%;
	box-shadow: inset 1px 2px rgba(0,0,0,0.4);
	margin: 0 3px;
	cursor: pointer;
}
.slick-dots li.slick-active{
	background: #ff7021;
}
.slick-dots button{
	border: 0;
	font-size: 0;
	padding: 0;
}
/*전체*/
#wrap{
	width: 100%;
}

/*헤더*/
#header{
	border-bottom: 2px solid #ff7021;
	padding: 10px;
	position: relative;
}
#header h1{
	width: 90px;
	height: 24px;
	background: url(../../images/logo.png) no-repeat;
	background-size: 90px 24px;
	text-indent: -9999px;
}
#header h1 a{
	height: 100%;
	display: block;
}
.panel{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 10px;
}
.panel a{
	display: block;
}
.panel a span{
	width: 25px;
	height: 3px;
	background: #222;
	border-radius: 4px;
	display: block;
	text-indent: -9999px;
	margin: 5px 0;
}
.panel a:before,.panel a:after{
	content: "";
	width: 25px;
	height: 3px;
	background: #222;
	border-radius: 4px;
	display: block;
}

/*컨테이너*/
#container{}
.mainSlider{
	height: 370px;
	text-align: center;
	color: #fff;
	position: relative;
}
.mainSlider .bgImg{
	height: 370px;
	filter: brightness(80%);
	background: url(../../images/sliderImg.png) no-repeat center center;
	background-size: cover;
}
.mainSlider .bgImg a{}
.sliderText{
	width: 100%;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	text-align: center;
	text-shadow: 2px 2px 2px #111;
}

/*mainRow1*/
.mainRow1{
	margin-top: 10px;
	padding: 0 10px;
}
.mainRow1 h1{
	font-family: 'Cardo', serif;
	font-size: 20px;
}
.mainRow1 h1 span{
	color: #ff7021;
}
.mainRow1 li{
	font-size: 12px;
	margin-top: 10px;
}
.mainRow1 li h3{
	font-size: 14px;
}
.mainRow1 li h2{
	font-size: 15px;
}
.mainRow1 li p{
	font-size: 11px;
}
.row1Img{
	margin-top: 10px;
	width: 100%;
}
.row1Img li{
	float: left;
	width: calc(50% - 7px);
	margin-right: 14px;
}
.row1Img li:nth-child(2){
	margin-right: 0;
}
.row1Img li:last-child{
	margin-right: 0;
}
.row1Img li img{
	width: 100%;
	box-shadow: 2px 2px 1px #999;
}

/*mainRow2*/
.mainRow2{
	height: 150px;
	margin-top: 20px;
	background: #f1f1f1;
	width: 100%;
}
.mainRow2 li{
	float: left;
	margin: 0 10px;
	width: calc(25% - 20px);
	text-align: center;
	position: relative;
	top: 50%;
	transform: translate(0, 50%);
}
.mainRow2 li a{}
.mainRow2 li a img{
	height: 100%;
}
.mainRow2 li a p{
	color: #2c2c2c;
	font-weight: bold;
	font-size: 14px;
}

/*mainRow3*/
.mainRow3{
	margin-top: 10px;
}
.sport{}
.row3Title{
	margin-top: 5px;
}
.row3Title span img{
	margin-left: 10px;
}
.row3Title h3{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}
.row3Title p{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 10px;
}
.row3Title p a{
	color: #2c2c2c;
}
.row3Title iframe{
	display: block;
	margin-left: 50%;
	transform: translate(-50%,0);
}
.sport a img{
	width: 100%;
	margin-top: 10px;
}
.video{
	margin-top: 5px;
}
.video iframe{
	margin-top: 10px;
}
.news{
	margin-top: 10px;
}
.newsInfo{
	padding: 0 10px;
	margin: 0 auto;
	margin-top: 10px;
	width: 95%;
	height: 90px;
	border: 3px double #bbb;
	box-sizing: border-box;
	background: #eee;
	text-align: center;
	font-size: 13px;
}
.newsInfo li{
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.newsInfo li a{
	color: #2c2c2c;
	font-weight: 600;
}

/*푸터*/
#footer{
	margin-top: 10px;
	padding: 10px;
	background: #212122;
	color: #fafafa;
}
.footerMenu{
	text-align: center;
	font-size: 0;
}
.footerMenu ul li{
	display: inline-block;
	line-height: 30px;
	font-size: 12px;
}
.footerMenu ul li:after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 8px;
	background: #fff;
	margin: 0 5px;
}
.footerMenu ul li:last-child:after{
	display: none;
}
.footerMenu ul li a{
	color: #fff;
}
.footerBottom{
	position: relative;
}
.footerBottom{}
.footerBottom img{}
.footerBottom p{
	font-size: 9px;
}
.select{
	position: absolute;
	right: 0;
	bottom: 0;
}
.select select{
	width: 80px;
	padding: 5px 0;
	font-size: 10px;
}